{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ block.super }} {{ title }}
{% endblock title %}

{% block slider %}
    <div class="hero-wrap hero-bread" style="background-image: url('{% static 'store/images/bg_1.jpg' %}');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>
{% endblock slider %}

{% block main %}
	{% include 'store/components/cart/_main.html' %}


	{% include 'store/components/_email.html' %}
{% endblock main %}