{% load store_tags %}
<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                {% if page_obj.has_previous and page_obj.paginator.num_pages > 2 %}
                <li><a href="?{% url_replace page=page_obj.previous_page_number %}">&lt;</a></li>
                {% endif %}
                {% for page in page_obj.paginator.page_range %}
                    {% if page == page_obj.number %}
                  <li class="active"><span>{{ page }}</span></li>
                    {% else %}
                  <li><a href="?{% url_replace page=page %}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next and page_obj.paginator.num_pages > 2 %}
                <li><a href="?{% url_replace page=page_obj.next_page_number %}">&gt;</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>