{% for product in products %}
<tr class="text-center">
    <td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a></td>

    <td class="image-prod">
        <div class="img" style="background-image:url({{ product.product.get_first_photo }});"></div>
    </td>

    <td class="product-name">
        <h3>{{ product.product.title }}</h3>
        <p>{{ product.product.description|truncatewords:10 }}</p>
    </td>

    <td class="price">${{ product.product.price }}</td>

    <td class="quantity">

            <span class="input-group-btn ml-2">
                <a href="{% url 'to_cart' product.product.pk 'delete' %}" type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                    <i class="ion-ios-remove"></i>
                </a>
            </span>
            <div class="input-group mb-3">
                <input type="text" name="quantity" class="quantity form-control input-number" value="{{ product.quantity }}" min="1"
                       max="100">
            </div>
            <span class="input-group-btn ml-2">
                <a href="{% url 'to_cart' product.product.pk 'add' %}" type="button" class="quantity-right-plus btn" data-type="minus" data-field="">
                    <i class="ion-ios-add"></i>
                </a>
            </span>

    </td>

    <td class="total">${{ product.get_total_price }}</td>
</tr>
{% endfor %}